# Ejercicio de Pandas

Carga las 2 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, y pandas

**Coloca tu nombre y matricula**

Nombre: Susana Yareli Lino Reséndiz

Matricula: 1986245

1. Carga las librerias básicas

In [1]:
##### carga las dos librerias usadas (numpy, pandas )
import pandas as pd
import numpy as np

El siguiente comando importa un data frame desde un archivo csv de internet

In [2]:
 ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas2.csv')

En caso de que una cantidad contenga decimales, debe estar redondeada a un decimal

2. Características del dataframe

In [5]:
#con código de python muestra cuantas filas y columnas tiene el dataframe y como se llaman las columnas
ventas.value_counts()

Año   Mes         Ventas  Gasto
2010  Abril       1157    599      1
2019  Marzo       1842    1506     1
2018  Septiembre  1406    1261     1
2019  Abril       1578    1361     1
      Agosto      1291    921      1
                                  ..
2014  Noviembre   1118    796      1
      Octubre     1416    1083     1
      Septiembre  1216    739      1
2015  Abril       1031    828      1
2023  Septiembre  2114    2142     1
Length: 168, dtype: int64

In [6]:
#muestra las primeras 5 filas del dataframe
ventas.head(5)

    Año      Mes  Ventas  Gasto
0  2010    Enero    1056    533
1  2010  Febrero     910    496
2  2010    Marzo    1095    695
3  2010    Abril    1157    599
4  2010     Mayo     969    490

*ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2010-2023*

3. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [12]:
## escribe aqui el código
ventas['Ganancias'] =ventas['Ventas']-ventas['Gasto']
ventas.head()

    Año      Mes  Ventas  Gasto  Ganancias
0  2010    Enero    1056    533        523
1  2010  Febrero     910    496        414
2  2010    Marzo    1095    695        400
3  2010    Abril    1157    599        558
4  2010     Mayo     969    490        479

4. Encuentra el mes-año con las ganancias más altas

In [14]:
## escribe aqui el código
ventas.agg({'Ganancias': 'max'})

Ganancias    592
dtype: int64

5. Calcula e imprime las ventas totales, gastos totales y ganancias totales de  todo el periodo\
Ejemplo de mensaje: **las ventas totales son: 5000**, etc

In [23]:
## escribe aqui el código
ventas.agg({'Ventas': 'sum','Gasto': 'sum','Ganancias': 'sum'})

Ventas       235731
Gasto        181123
Ganancias     54608
dtype: int64

6. Calcula y muestra las ventas, gastos y ganancias para cada año

In [19]:
## escribe aqui el código
ventas.groupby('Año').sum()

<ipython-input-19-754160b7dd20>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ventas.groupby('Año').sum()

      Ventas  Gasto  Ganancias
Año
2010   12015   6756       5259
2011   12778   7806       4972
2012   12965   8430       4535
2013   14037   8963       5074
2014   14922  10377       4545
2015   14951  10784       4167
2016   15376  11053       4323
2017   17189  12369       4820
2018   18325  14648       3677
2019   18204  14759       3445
2020   18917  16206       2711
2021   21057  17693       3364
2022   21692  18946       2746
2023   23303  22333        970

7. Calcula y muestra las ventas promedio mensuales del año 2015

In [29]:
## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas

8. Calcula e imprime las ventas totales y ventas promedio para los eneros. Es decir, para enero de 2010, enero de 2011, enero 2012, etc

In [ ]:
## escribe aqui el código ventas totales
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas

In [ ]:
## escribe aqui el código ventas promedio

9. Calcula las ventas promedio por mes, y muestra los meses ordenados de menor a mayor según su promedio

In [ ]:
## aqui va tu codigo