# Ejercicio de Pandas

Carga las 2 librerias que hemos visto a lo largo del curso junto con su "apodo"

numpy, y pandas

**Coloca tu nombre y matricula**

Nombre: Susana Yareli Lino Reséndiz

Matricula: 1986245

1. Carga las librerias básicas

In [4]:
##### carga las dos librerias usadas (numpy, pandas )
import pandas as pd
import numpy as np

El siguiente comando importa un data frame desde un archivo csv de internet

In [5]:
 ventas = pd.read_csv('https://raw.githubusercontent.com/jimmyzac/Estadistica-Aplicada-FCFM-UANL/main/bases_datos/ventas2.csv')

En caso de que una cantidad contenga decimales, debe estar redondeada a un decimal

2. Características del dataframe

In [6]:
#con código de python muestra cuantas filas y columnas tiene el dataframe y como se llaman las columnas
ventas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Año     168 non-null    int64
 1   Mes     168 non-null    object
 2   Ventas  168 non-null    int64
 3   Gasto   168 non-null    int64
dtypes: int64(3), object(1)
memory usage: 5.4+ KB

In [7]:
#muestra las primeras 5 filas del dataframe
ventas.head(5)

    Año      Mes  Ventas  Gasto
0  2010    Enero    1056    533
1  2010  Febrero     910    496
2  2010    Marzo    1095    695
3  2010    Abril    1157    599
4  2010     Mayo     969    490

*ventas es una base de datos que contiene las ventas mensuales de una tienda X para los años 2010-2023*

3. Crea una nueva columna que se llame **Ganancias** y que contenga la diferencia entre ventas-gastos

In [12]:
## escribe aqui el código
ventas['Ganancias'] =ventas['Ventas']-ventas['Gasto']
ventas.head()

    Año      Mes  Ventas  Gasto  Ganancias
0  2010    Enero    1056    533        523
1  2010  Febrero     910    496        414
2  2010    Marzo    1095    695        400
3  2010    Abril    1157    599        558
4  2010     Mayo     969    490        479

4. Encuentra el mes-año con las ganancias más altas

In [13]:
## escribe aqui el código
maximo = ventas["Ganancias"].max()
ventas[ventas["Ganancias"]==maximo][["Mes","Año"]]

       Mes   Año
91  Agosto  2017

5. Calcula e imprime las ventas totales, gastos totales y ganancias totales de  todo el periodo\
Ejemplo de mensaje: **las ventas totales son: 5000**, etc

In [14]:
## escribe aqui el código
totales = ventas["Ganancias"].sum()
print(f"las ventas totales son {totales}")

las ventas totales son 54608

6. Calcula y muestra las ventas, gastos y ganancias para cada año

In [15]:
## escribe aqui el código
ventas.groupby('Año').sum()

<ipython-input-15-754160b7dd20>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ventas.groupby('Año').sum()

      Ventas  Gasto  Ganancias
Año
2010   12015   6756       5259
2011   12778   7806       4972
2012   12965   8430       4535
2013   14037   8963       5074
2014   14922  10377       4545
2015   14951  10784       4167
2016   15376  11053       4323
2017   17189  12369       4820
2018   18325  14648       3677
2019   18204  14759       3445
2020   18917  16206       2711
2021   21057  17693       3364
2022   21692  18946       2746
2023   23303  22333        970

7. Calcula y muestra las ventas promedio mensuales del año 2015

In [16]:
## escribe aqui el código
##Pista: primero filtra para el año 2015, luego selecciona la columna ventas
ventas[ventas["Año"]==2015][["Ventas"]].mean().round(1)

Ventas    1245.9
dtype: float64

8. Calcula e imprime las ventas totales y ventas promedio para los eneros. Es decir, para enero de 2010, enero de 2011, enero 2012, etc

In [ ]:
## escribe aqui el código ventas totales
##Pista: primero filtra los meses de enero, luego selecciona la columna ventas
ventas[ventas["Mes"]=="Enero"][["Ventas"]].mean().round(1)

In [19]:
## escribe aqui el código ventas promedio
ventas.query("Mes=='Enero'")["Ventas"].sum().round(1)

20073

9. Calcula las ventas promedio por mes, y muestra los meses ordenados de menor a mayor según su promedio

In [20]:
## aqui va tu codigo
ventas.groupby(by="Mes")["Ventas"].mean().sort_values(ascending=True).round(1)

Mes
Junio         1325.7
Septiembre    1347.4
Julio         1363.6
Octubre       1388.3
Marzo         1394.4
Febrero       1406.4
Mayo          1409.7
Diciembre     1416.6
Enero         1433.8
Agosto        1437.9
Noviembre     1456.6
Abril         1457.5
Name: Ventas, dtype: float64